name:  Release

on:
  workflow_dispatch:
  push:
    branches:
      - release/prod/*

jobs:
  # Builds assets for each OS
  build:
    runs-on: ${{ matrix.platform }}
    strategy:
      matrix:
        os: [linux, windows, macos]  # Define platforms

        include:
          - os: linux
            platform: ubuntu-latest
            dotnetOs: linux-x64
            ASSETS_NAME: linux-assets
            assetSuffix: linux
          
          - os: windows
            platform:  windows-latest
            dotnetOs:  win-x64
            ASSETS_NAME:  windows-assets
            assetSuffix:  windows
          
          - os: macos
          # Capacity issue at GitHub, trying a different image
            # platform:  macos-latest
            platform:  macos-14
            # platform:  macos-15
            dotnetOs:  osx-x64
            ASSETS_NAME:  mac-assets
            assetSuffix:  mac
          
    env:
      # See OS catalog here:  https://docs.microsoft.com/en-us/dotnet/core/rid-catalog
      DOTNET_OS: ${{ matrix.dotnetOs }}
      ASSETS_NAME: ${{ matrix.ASSETS_NAME }}
      ASSET_SUFFIX: ${{ matrix.assetSuffix }}
      EXEC_NAME:  kc
    
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 10.x
    - name: Patch version
      id:  patch-version
      run: python3 deployment/patch-version.py code/KustoCopyConsole/KustoCopyConsole.csproj ${{ github.run_number }}
    - name:  Output full version
      shell:  bash
      run:  |
        echo "Full version:  ${{ steps.patch-version.outputs.full-version }}"
    - name: Create artefact directory
      shell:  bash
      run:  |
        mkdir $ASSETS_NAME
        mkdir $ASSETS_NAME/bin
        mkdir bin
    # See https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-restore
    - name: Install dependencies
      shell:  bash
      run: dotnet restore code
    # See https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-build
    - name: Build
      shell:  bash
      run: dotnet build code --configuration Release --no-restore
    # See https://github.com/dotnet/designs/blob/main/accepted/2020/single-file/design.md#user-experience
    # & https://docs.microsoft.com/en-us/dotnet/core/deploying/single-file
    # & https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-publish
    - name: Build single file executable
      shell:  bash
      run: |
        dotnet publish code/KustoCopyConsole -c release -r $DOTNET_OS \
          -p:PublishSingleFile=true -p:IncludeNativeLibrariesForSelfExtract=true \
          -p:PublishTrimmed=true -p:PublishReadyToRun=true \
          -o bin
    - name: Copy executable to assets
      shell:  bash
      run:  cp bin/$EXEC_NAME $ASSETS_NAME/bin/$EXEC_NAME
    # Output variables can't be shared accross jobs, so we push it to artefacts
    - name: Push full version to file
      shell:  bash
      run:  echo ${{ steps.patch-version.outputs.full-version }} >> $ASSETS_NAME/full-version.txt
    # Push archive + version to a sharable artefact
    # See https://stackoverflow.com/questions/57498605/github-actions-share-workspace-artifacts-between-jobs
    - uses: actions/upload-artifact@master
      with:
        name: ${{ env.ASSETS_NAME }}
        path: ${{ env.ASSETS_NAME }}

  # This is the release job, integrating work from windows + linux + mac job
  # see https://stackoverflow.com/questions/57498605/github-actions-share-workspace-artifacts-between-jobs
  release:
    # This integrates the artefacts from the other jobs
    needs:
    - build
    runs-on: ubuntu-latest
    steps:
    # We do not need the source code but we need git for tags & release
    - uses: actions/checkout@v2
    # Retrieve assets
    - name: Download Linux Assets
      uses: actions/download-artifact@master
      with:
        name: linux-assets
        path: linux-assets
    - name: Download Mac Assets
      uses: actions/download-artifact@master
      with:
        name: mac-assets
        path: mac-assets
    - name: Download Windows Assets
      uses: actions/download-artifact@master
      with:
        name: windows-assets
        path: windows-assets
    # Validate asset content
    - name: Assets content
      run:  |
        ls -l linux-assets
        ls -l linux-assets/bin
        ls -l windows-assets
        ls -l windows-assets/bin
        # ls -l mac-assets
        # ls -l mac-assets/bin
    # Zip assets
    - name: Mkdir final assets
      run:  mkdir final-assets
    - name: Zip Linux executable
      run:  |
        cd linux-assets/bin
        tar -czvf ../../final-assets/kusto-copy-linux.tar.gz *
    - name: Zip Mac executable
      run:  |
        cd mac-assets/bin
        tar -czvf ../../final-assets/kusto-copy-mac.tar.gz *
    - name: Zip Windows executable
      run:  |
        cd windows-assets/bin
        tar -czvf ../../final-assets/kusto-copy-windows.tar.gz *
    # Validate final assets
    - name: Final assets content
      run:  ls -l final-assets
    # See https://cli.github.com/manual/gh_auth
    - name: Authentication gh CLI
      run:  |
        echo "${{ secrets.RELEASE_TOKEN }}" | gh auth login --with-token
    # See https://cli.github.com/manual/gh_release
    - name: Create full version release
      run:  |
        # Retrieve content of full-version from artefact
        fullVersion=$(cat linux-assets/full-version.txt)
        echo "Full version:  $fullVersion"
        # Create the release draft
        gh release create "$fullVersion" final-assets/* --title "$fullVersion" --notes ""
